<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>addStation</servlet-name>
		<servlet-class>com.logisense.loms.controller.addStationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addStation</servlet-name>
		<url-pattern>/addstation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateStation</servlet-name>
		<servlet-class>com.logisense.loms.controller.updateStationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateStation</servlet-name>
		<url-pattern>/updatestation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteStation</servlet-name>
		<servlet-class>com.logisense.loms.controller.deleteStationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteStation</servlet-name>
		<url-pattern>/deletestation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logistic_Operations_Management_System</servlet-name>
		<servlet-class>com.logisense.loms.Logistic_Operations_Management_SystemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logistic_Operations_Management_System</servlet-name>
		<url-pattern>/logistic_operations_management_system</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>list_stations.jsp</welcome-file>
	</welcome-file-list>
</web-app>
